.htaccess.txt
config.php
config-dist.php
index.php
php.ini

image
install
system
.idea

admin/*
!admin/controller
admin/controller/*
!admin/controller/extension
admin/controller/extension/*
!admin/controller/extension/payment
admin/controller/extension/payment/*
!admin/controller/extension/payment/ezdefi.php


!admin/model
admin/model/*
!admin/model/extension
admin/model/extension/*
!admin/model/extension/payment
admin/model/extension/payment/*
!admin/model/extension/payment/ezdefi.php

!admin/language
admin/language/en-gb/*
!admin/language/en-gb/extension
admin/language/en-gb/extension/*
!admin/language/en-gb/extension/payment
admin/language/en-gb/extension/payment/*
!admin/language/en-gb/extension/payment/ezdefi.php


!admin/view
admin/view/*
!admin/view/template
admin/view/template/*
!admin/view/template/extension
admin/view/template/extension/*
!admin/view/template/extension/payment
admin/view/template/extension/payment/*
!admin/view/template/extension/payment/ezdefi.tpl

!admin/view/stylesheet/
admin/view/stylesheet/*
!admin/view/stylesheet/ezdefi

!admin/view/javascript/
admin/view/javascript/*
!admin/view/javascript/ezdefi

!admin/view/image/
admin/view/image/*
!admin/view/image/payment
admin/view/image/payment/*
!admin/view/image/payment/ezdefi.png

#---------------------
catalog/*
!catalog/controller
catalog/controller/*
!catalog/controller/extension
catalog/controller/extension/*
!catalog/controller/extension/payment
catalog/controller/extension/payment/*
!catalog/controller/extension/payment/ezdefi.php


!catalog/model
catalog/model/*
!catalog/model/extension
catalog/model/extension/*
!catalog/model/extension/payment
catalog/model/extension/payment/*
!catalog/model/extension/payment/ezdefi.php

!catalog/language
catalog/language/en-gb/*
!catalog/language/en-gb/extension
catalog/language/en-gb/extension/*
!catalog/language/en-gb/extension/payment
catalog/language/en-gb/extension/payment/*
!catalog/language/en-gb/extension/payment/ezdefi.php


!catalog/view
catalog/view/*
!catalog/view/javascript
catalog/view/javascript/*
!catalog/view/javascript/ezdefi.js
!catalog/view/javascript/bignumber.min.js


!catalog/view/theme/
catalog/view/theme/*
!catalog/view/theme/default
catalog/view/theme/default/*
!catalog/view/theme/default/image
catalog/view/theme/default/image/*
!catalog/view/theme/default/image/ezdefi


catalog/view/theme/default/stylesheet/*
!catalog/view/theme/default/stylesheet/ezdefi.css

catalog/view/theme/default/template/*
!catalog/view/theme/default/template/extension/
catalog/view/theme/default/template/extension/*
!catalog/view/theme/default/template/extension/payment
catalog/view/theme/default/template/extension/payment/*
!catalog/view/theme/default/template/extension/payment/ezdefi.tpl

#catalog/view/theme/*
#!catalog/view/theme/image
#catalog/view/theme/image/*
#!catalog/view/theme/image/ezdefi
