.ezdefi-select-coin-box {
    width: 100%;
}
.ezdefi-select-coin__list {
    max-height: 300px;
    overflow-x: auto;
    border: 1px solid #aaa;
}

.ezdefi-select-coin__logo {
    width: 50px;
}

.ezdefi-select-coin-box table>tbody>tr>td {
    vertical-align: inherit;
}

.ezdefi-select-coin-box table>tbody>tr>td input {
    -webkit-appearance:radio;
    -moz-appearance:radio;
}


.ezapy-guide-link {
    display: block;
    padding: 15px 0;
    font-size: 14px;
}

.ezdefi-btn-create-payment {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 50px;
    background: cornflowerblue;
    color: white;
    border: none;
}

.ezdefi-btn-create-payment:disabled {
    background: darkgray;
}

.ezdefi-charge-coin-box {
    /*display: none;*/
}

.ezdefi-payment-box {
    width: 100%;
    display: none;
}

.ezdefi-payment__header {
    width: 100%;
    border-radius: 10px;
    background-color: #eee;
    padding: 7px 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.ezdefi-payment__coin-logo {
    width: 50px;
    flex-grow: 0;
}

.ezdefi-payment__coin-name {
    padding-left: 15px;
    flex-grow: 0;
}

.ezdefi-payment__btn-charge-coin {
    flex-grow: 0;
    margin-right: 20px;
    border: none;
    background-color: inherit;
    color: cornflowerblue;
}

.ezdefi-payment__content {
    display: grid;
    grid-template-columns: auto auto;
}

.ezdefi-payment__content > div{
    display: none;
}

.btn-choose-payment-type {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #999;
    color: cornflowerblue;
}
.btn-choose-payment-type:hover {
    background: #eee;
    color: #888;
    border-radius: 4px 4px 0 0;
}
#ezdefi-show-payment--simple:checked ~ .btn-show-payment--simple, #ezdefi-show-payment--escrow:checked ~ .btn-show-payment--escrow {
    background: #ffffff;
    color: #666;
    border: 1px solid #999;
    border-bottom-color: transparent;
    border-radius: 4px 4px 0 0;
}

#ezdefi-show-payment--simple:checked ~ div.simple-pay-box, #ezdefi-show-payment--escrow:checked ~ div.escrow-pay-box {
    display: block;
}

div.escrow-pay-box, div.simple-pay-box {
    grid-column: 1/-1;
}

.ezdefi-payment__content > input {
    display: none;
}



.ezdefi-payment__info {
    width: 100%;
}

.ezdefi-payment__value {
    margin: 10px 0;
    text-align: center;
}

.ezdefi-payment__countdown-box {
    text-align: center;
}

.ezdefi-countdown-lifetime {
    color: red;
    font-weight: bold;
}

.payment-box {
    margin: 0 auto;
    display: block;
    text-align: center;
}

.ezdefi-payment__download-link {
    text-align: center;
}

.ezdefi-payment__download-link>a {
    display: block;
}

/* General */
.margin-top-md {
    margin-top: 20px;
}
.wide-space {
    flex-grow: 1;
}